services:
  postgres:
    image: postgres:18
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 1g
    ports:
      - ${POSTGRES_PORT}:5432
    volumes:
      - ./volumes/auth-schema.sql:/docker-entrypoint-initdb.d/01-auth-schema.sql:Z
      - db-data:/var/lib/postgresql
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}

volumes:
  db-data: {}
networks:
  default:
    name: ${COMPOSE_PROJECT_NAME}
    external: true