@layer reset, base, tokens, recipes, utilities;

:root {
  font-feature-settings:
    "liga" 1,
    "calt" 1; /* fix for Chrome */
  text-rendering: optimizeLegibility;
}

body {
  font-family: var(--font-body);
}

.dark {
  color-scheme: dark;
}
