{
  "$schema": "https://swc.rs/schema.json",
  "sourceMaps": true,
  "exclude": [".*\\.spec\\.ts$"],
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "baseUrl": "./"
  },
  "minify": false
}
