@layer reset, base, tokens, recipes, utilities;

html {
  font-size: 15px !important;
}

/* Round images in content and add border */
p > img {
  border: 1px solid var(--colors-border);
  border-radius: 6px;
}

/* Hide breadcrumbs */
.nextra-breadcrumb {
  display: none !important;
}

/* Override top level item in sidebar */
.nextra-scrollbar > div > div > ul > li.open > button {
  background-color: transparent !important;
  color: unset !important;
  font-weight: 400 !important;
}

/* Table styles */
table {
  border-collapse: separate;
  border-spacing: 0;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
}

thead > tr > th:first-child {
  border-top-left-radius: 6px !important;
}

thead > tr > th:last-child {
  border-top-right-radius: 6px !important;
}

th:first-child {
  border-left-width: 1px !important;
}

th {
  border-left-width: 0px !important;
  text-align: left;
  font-weight: 600 !important;
  padding: 6px 12px !important;
}

th {
  border-bottom-width: 0px !important;
}

thead > tr {
  background-color: var(--colors-new-bg-neutral-subtle) !important;
}

td:first-child {
  border-left-width: 1px !important;
}

td {
  border-left-width: 0px !important;
  padding: 6px 12px !important;
}

tr:last-child > td {
  border-bottom-width: 1px !important;
}

tr > td {
  border-bottom-width: 0px !important;
}

tbody > tr:last-child > td:first-child {
  border-bottom-left-radius: 6px !important;
}

tbody > tr:last-child > td:last-child {
  border-bottom-right-radius: 6px !important;
}

tbody > tr {
  background-color: transparent !important;
}

/* Remove margin from nested lists */
ul > li > ul {
  margin-top: 0 !important;
}

ol > li > ol {
  margin-top: 0 !important;
}
