@layer reset, base, tokens, recipes, utilities;

:root {
  font-feature-settings:
    "liga" 1,
    "calt" 1; /* fix for Chrome */
  text-rendering: optimizeLegibility;
}

:root {
  --color-fd-background: hsl(0, 0%, 100%); /* neutral 0 */
  --color-fd-foreground: hsl(214.3, 14.3%, 9.6%); /* neutral 900 */
  --color-fd-muted: hsl(220, 33.3%, 98.2%); /* neutral 25 */
  --color-fd-muted-foreground: hsl(213.8, 7%, 45.1%); /* neutral 500 */
  --color-fd-popover: hsl(220, 33.3%, 98.2%); /* neutral 25 */
  --color-fd-popover-foreground: hsl(218.2, 13.9%, 15.5%); /* neutral 850 */
  --color-fd-card: hsl(216, 26.3%, 96.3%); /* neutral 37.5 */
  --color-fd-card-foreground: hsl(214.3, 14.3%, 9.6%); /* neutral 900 */
  --color-fd-border: hsl(213.3, 16.4%, 89.2%); /* neutral 100 */
  --color-fd-primary: hsl(218.2, 13.9%, 15.5%); /*  neutral 850 */
  --color-fd-primary-foreground: hsl(220, 33.3%, 98.2%); /* neutral 25 */
  --color-fd-secondary: hsl(220, 33.3%, 98.2%); /* neutral 25 */
  --color-fd-secondary-foreground: hsl(214.3, 14.3%, 9.6%); /* neutral 900 */
  --color-fd-accent: hsl(214.3, 17.1%, 92%); /* neutral 75 */
  --color-fd-accent-foreground: hsl(214.3, 14.3%, 9.6%); /* neutral 900 */
  --color-fd-ring: hsl(214.3, 8.5%, 67.8%); /* neutral 300 */

  --fd-diff-remove-color: rgba(200, 10, 100, 0.12);
  --fd-diff-remove-symbol-color: rgb(230, 10, 100);
  --fd-diff-add-color: rgba(14, 180, 100, 0.12);
  --fd-diff-add-symbol-color: rgb(10, 200, 100);

  /* Set width for right side table of contents, for some reason it's 0px by default */
  --fd-toc-width: 286px;
}

:root.dark {
  --color-fd-background: hsl(210, 11.8%, 6.7%); /* neutral 950 */
  --color-fd-foreground: hsl(220, 33.3%, 98.2%); /* neutral 25 */
  --color-fd-muted: hsl(216, 15.2%, 12.9%); /* neutral 875 */
  --color-fd-muted-foreground: hsl(213.8, 7.4%, 57.6%); /* neutral 400 */
  --color-fd-popover: hsl(214.3, 14.3%, 9.6%); /* neutral 900 */
  --color-fd-popover-foreground: hsl(213.3, 16.4%, 89.2%); /* neutral 100 */
  --color-fd-card: hsl(214.3, 14.3%, 9.6%); /* neutral 900 */
  --color-fd-card-foreground: hsl(220, 33.3%, 98.2%); /* neutral 25 */
  --color-fd-border: hsl(218.2, 13.9%, 15.5%); /* neutral 850 */
  --color-fd-primary: hsl(220, 33.3%, 98.2%); /* neutral 25 */
  --color-fd-primary-foreground: hsl(0, 0%, 9%);
  --color-fd-secondary: hsl(216, 15.2%, 12.9%); /* neutral 875 */
  --color-fd-secondary-foreground: hsl(220, 33.3%, 98.2%); /* neutral 25 */
  --color-fd-accent: hsl(218.2, 13.9%, 15.5%); /* neutral 850 */
  --color-fd-accent-foreground: hsl(213.3, 16.4%, 89.2%); /* neutral 100 */
  --color-fd-ring: hsl(218.2, 13.9%, 15.5%); /* neutral 850 */
}

/*  Remove margin-top from the first image in an article */
div.prose > p:nth-child(1) > span > span:nth-child(1) > img {
  margin-top: 0 !important;
}

/* Custom navbar height https://fumadocs.dev/docs/ui/layouts/docs#replace-navbar */
:root {
  --fd-nav-height: 56px;
}

@media (width >= 48rem) {
  :root {
    --fd-nav-height: 0px;
  }
}

/* Add outline to <Step> circle */
.fd-step {
  &:before {
    outline: 1px solid var(--color-fd-border);
  }
}
